// =========================
// CONSTRAINTS for tx_top
// FPGA: GW1NR-LV9QN88PC6/I5
// =========================

// -------------------------
// INPUTS: data switches
// -------------------------
IO_LOC  "data_sw[0]" 25;
IO_PORT "data_sw[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "data_sw[1]" 26;
IO_PORT "data_sw[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "data_sw[2]" 27;
IO_PORT "data_sw[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "data_sw[3]" 28;
IO_PORT "data_sw[3]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// -------------------------
// INPUTS: error switches
// -------------------------
IO_LOC  "err_sw[0]" 29;
IO_PORT "err_sw[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "err_sw[1]" 30;
IO_PORT "err_sw[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "err_sw[2]" 33;
IO_PORT "err_sw[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

// -------------------------
// OUTPUTS: 7-segment display
// Ajusta luego si tu cableado físico usa otro orden
// -------------------------


// -------------------------
// OUTPUTS: transmitted Hamming word
// OJO: estos pines son de 1.8 V en la plantilla original
// Si luego ocupas cambiarlos, cambias solo números
// -------------------------
IO_LOC  "tx_word[0]" 79;
IO_PORT "tx_word[0]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "tx_word[1]" 80;
IO_PORT "tx_word[1]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "tx_word[2]" 81;
IO_PORT "tx_word[2]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "tx_word[3]" 82;
IO_PORT "tx_word[3]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "tx_word[4]" 83;
IO_PORT "tx_word[4]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "tx_word[5]" 84;
IO_PORT "tx_word[5]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;

IO_LOC  "tx_word[6]" 85;
IO_PORT "tx_word[6]" DRIVE=8 IO_TYPE=LVCMOS18 PULL_MODE=DOWN;