IO_LOC  "sw[0]" 29;
IO_PORT "sw[0]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "sw[1]" 30;
IO_PORT "sw[1]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "sw[2]" 33;
IO_PORT "sw[2]" IO_TYPE=LVCMOS33 PULL_MODE=DOWN;

IO_LOC  "Bit7" 77;
IO_PORT "Bit7" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Bit6" 76;
IO_PORT "Bit6" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Bit5" 75;
IO_PORT "Bit5" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Bit4" 74;
IO_PORT "Bit4" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Bit3" 73;
IO_PORT "Bit3" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Bit2" 72;
IO_PORT "Bit2" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "Bit1" 71;
IO_PORT "Bit1" DRIVE=8 IO_TYPE=LVCMOS33;

IO_LOC  "clk" 52;
IO_PORT "clk" IO_TYPE=LVCMOS33 PULL_MODE=UP;
